@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --sky-50: #f0f9ff;
    --sky-500: #0ea5e9;
    --lime-500: #84cc16;
    --purple-200: #e9d5ff;
    --lime-200: #d9f99d;
    --lime-800:#3f6212;
    --font-primary: 'Nunito Sans', sans-serif;
    --font-secondary: 'Source Sans Pro', sans-serif;
    --max-break: 600px;
}

body {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    font-family: var(--font-primary);
    color: var(--sky-500);
    background-color: var(--purple-200);
    width: 100%;
    min-height: 100vh;
}

nav {
    width: 100%;
    background-color: var(--lime-200);
    text-align: center;
    border: 1px solid var(--lime-500);
}

nav div{
    font-size: 3rem;
    padding: 1rem;
    font-weight: bolder;

}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--max-break);
    text-align: center;
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 50%;
    min-height: 25vh;
    margin: 2rem auto;
    padding: 1rem;
    font-family: var(--font-secondary);
}



button{
    background-color: var(--lime-200);
    color: var(--sky-500);
    font-weight: bolder;
    border: 0.1rem solid var(--sky-500);
    border-radius: 0.5rem;
    font-size: larger;
    margin: 1rem 2rem;
    font-family: var(--font-primary);
    cursor: pointer;
}

button:hover{
    background-color: var(--lime-800);
    color: var(--sky-50);
}

#translate-output {
    box-sizing: border-box;
    padding: 1rem;
    margin: 2rem auto;
    font-family: var(--font-secondary);
    min-height: 10vh;
    max-height: 25vh;
    width: 60%;
    /* overflow: scroll; */
    background-color: white;
}

#output-text{
    font-family: var(--font-primary);
    font-weight: bold;
    border: 0.1rem solid var(--sky-500);
    background-color: var(--lime-200);
}

footer{
    width: 100%;
    padding: 1rem;
    background-color: var(--lime-200);
    text-align: center;
    font-weight: bold;
}

footer p{
    margin: auto;
}
